/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/modulator.scss */
body {
  background: #1f1f1f;
  padding-right: 240px;
  padding-left: 20px;
  font-family: "helvetica neue", sans-serif;
}

/* line 11, ../sass/modulator.scss */
iframe {
  width: 100%;
  height: 1000px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, ../sass/modulator.scss */
#modulator-header {
  position: fixed;
  right: 0;
  top: 20px;
  width: 240px;
}

/* line 24, ../sass/modulator.scss */
fieldset[name="device-check"] {
  overflow: auto;
  height: 200px;
  border-radius: 3px;
}

/* line 29, ../sass/modulator.scss */
.modulator-nav {
  margin: 0 20px 20px;
  overflow: auto;
  border-radius: 3px;
}
/* line 34, ../sass/modulator.scss */
.modulator-nav li {
  position: relative;
}
/* line 37, ../sass/modulator.scss */
.modulator-nav li.active label {
  background: #444;
  color: #ddd;
  text-shadow: 0 1px 1px #111111;
}
/* line 42, ../sass/modulator.scss */
.modulator-nav li.active label:hover {
  background: #474747;
}
/* line 47, ../sass/modulator.scss */
.modulator-nav input {
  position: absolute;
  top: 11px;
  left: 5px;
}
/* line 52, ../sass/modulator.scss */
.modulator-nav label {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  line-height: 1.3;
  margin-bottom: 2px;
  padding: 10px 10px 10px 27px;
  background: #2a2a2a;
  color: #bbbbbb;
  text-decoration: none;
  border-radius: 2px;
}
/* line 63, ../sass/modulator.scss */
.modulator-nav label:hover {
  background: #333;
  cursor: pointer;
}

/* line 69, ../sass/modulator.scss */
#modulator-display {
  *zoom: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  width: 100%;
  height: 60px;
}
/* line 38, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#modulator-display:after {
  content: "";
  display: table;
  clear: both;
}
/* line 78, ../sass/modulator.scss */
#modulator-display .modulator-wrap {
  margin-top: 25px;
}

/* line 82, ../sass/modulator.scss */
#modulator-display-height {
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  height: 100%;
}
/* line 88, ../sass/modulator.scss */
#modulator-display-height .modulator-wrap {
  margin-top: 105px;
  margin-left: 20px;
}

/* line 93, ../sass/modulator.scss */
.modulator-rule {
  color: transparent;
  position: relative;
  border: 0;
  height: 10px;
  margin-top: -20px;
  padding-bottom: 5px;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
}
/* line 103, ../sass/modulator.scss */
.modulator-rule:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
}

/* line 112, ../sass/modulator.scss */
#viewport-width-container {
  width: 100%;
  text-align: center;
  margin: 10px auto 0;
}
/* line 117, ../sass/modulator.scss */
#viewport-width-container > p {
  position: relative;
  z-index: 2;
  background: #1f1f1f;
  color: #bbbbbb;
  padding: 0 20px;
  font-size: 28px;
  display: inline-block;
}
