/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 123, ../sass/mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 128, ../sass/mixins.scss */
.clearfix:after {
  clear: both;
}
/* line 132, ../sass/mixins.scss */
.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 146, ../sass/mixins.scss */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_base.scss */
body {
  background: #fff;
  font-size: 100%;
  font-family: "Helvetica Neue", clean, sans-serif;
  line-height: 1.2;
  color: #444444;
}

/* line 12, ../sass/_base.scss */
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/* line 17, ../sass/_base.scss */
a {
  color: #3096dd;
  text-decoration: none;
}

/* line 22, ../sass/_base.scss */
#content .row {
  padding: 25px 0;
}
/* line 25, ../sass/_base.scss */
#content p, #content h2 {
  margin: 1rem 0;
}
/* line 28, ../sass/_base.scss */
#content h1 {
  font-size: 42px;
}
/* line 31, ../sass/_base.scss */
#content h2 {
  font-size: 28px;
}

/* line 10, ../sass/modules/_formalize.scss */
.input_tiny {
  width: 50px;
}

/* line 14, ../sass/modules/_formalize.scss */
.input_small {
  width: 100px;
}

/* line 18, ../sass/modules/_formalize.scss */
.input_medium {
  width: 150px;
}

/* line 22, ../sass/modules/_formalize.scss */
.input_large {
  width: 200px;
}

/* line 26, ../sass/modules/_formalize.scss */
.input_xlarge {
  width: 250px;
}

/* line 30, ../sass/modules/_formalize.scss */
.input_xxlarge {
  width: 300px;
}

/* line 34, ../sass/modules/_formalize.scss */
.input_full {
  width: 100%;
}

/* line 41, ../sass/modules/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 49, ../sass/modules/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 60, ../sass/modules/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 64, ../sass/modules/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 75, ../sass/modules/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 84, ../sass/modules/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('/images/?1365787946') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 106, ../sass/modules/_formalize.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none;
}
/* line 110, ../sass/modules/_formalize.scss */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 120, ../sass/modules/_formalize.scss */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 126, ../sass/modules/_formalize.scss */
a.button {
  *padding-bottom: 3px;
}

/* line 131, ../sass/modules/_formalize.scss */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 151, ../sass/modules/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #ccc;
  border: 2px solid;
  border-color: #da5700;
  border-radius: 3px;
  color: #222;
  outline: 0;
  margin: 0;
  padding: 4px 6px;
  text-align: left;
  font-size: 14px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.9em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 176, ../sass/modules/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}
/* line 179, ../sass/modules/_formalize.scss */
textarea:hover,
select:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover {
  box-shadow: 0 0 10px #da5700;
  border-color: #fff;
}

/* line 191, ../sass/modules/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 205, ../sass/modules/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 210, ../sass/modules/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 215, ../sass/modules/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 221, ../sass/modules/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 228, ../sass/modules/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 238, ../sass/modules/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 244, ../sass/modules/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 251, ../sass/modules/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }

  /* line 265, ../sass/modules/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
/* line 273, ../sass/modules/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 280, ../sass/modules/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 288, ../sass/modules/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 319, ../sass/modules/_formalize.scss */
.ie6_button,
* html button,
* html a.button {
  background: #dddddd url('/images/?1365787946') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}

/* line 333, ../sass/modules/_formalize.scss */
* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

/* line 339, ../sass/modules/_formalize.scss */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 346, ../sass/modules/_formalize.scss */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 357, ../sass/modules/_formalize.scss */
* html select {
  margin-top: 1px;
}

/* line 363, ../sass/modules/_formalize.scss */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 367, ../sass/modules/_formalize.scss */
.ie6_input_disabled {
  background: #eeeeee;
}

/* line 1, ../sass/modules/_header.scss */
#site-header {
  *zoom: 1;
  background: #ccc;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#site-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/modules/_header.scss */
#site-header h1 {
  font-size: 42px;
  padding: 25px 0;
}

/* line 1, ../sass/modules/nav.scss */
#nav {
  *zoom: 1;
  background: #ddd;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/modules/nav.scss */
#nav li {
  margin: 0;
}

/* line 9, ../sass/modules/nav.scss */
.nav-link {
  float: left;
  width: 16%;
  display: block;
  padding: 20px 2%;
  text-align: center;
}
/* line 16, ../sass/modules/nav.scss */
.nav-link:hover {
  background: #ccc;
}

/* line 1, ../sass/modules/_footer.scss */
#site-footer {
  border-top: 1px dashed #999999;
  background: #eee;
}
/* line 4, ../sass/modules/_footer.scss */
#site-footer p {
  padding: 25px 0;
}

/* line 1, ../sass/modules/_grid.scss */
.grid-wrap {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2%;
  padding-left: 2%;
  clear: both;
}

/* line 26, ../sass/modules/_grid.scss */
.row {
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  max-width: 81.25rem;
}

/* line 34, ../sass/modules/_grid.scss */
.lt-ie9 .grid-wrap > .row {
  min-width: 900px;
  max-width: 1300px;
}

/* line 41, ../sass/modules/_grid.scss */
.is-nested {
  margin-right: -10px;
  margin-right: -0.625rem;
  margin-left: -10px;
  margin-left: -0.625rem;
}

/* line 49, ../sass/modules/_grid.scss */
.col {
  float: left;
}

/* line 55, ../sass/modules/_grid.scss */
.col-r {
  float: right;
}

/* line 60, ../sass/modules/_grid.scss */
.col > .in {
  margin-right: 10px;
  margin-right: 0.625rem;
  margin-left: 10px;
  margin-left: 0.625rem;
}

/* line 20, ../sass/mixins.scss */
.g-is-hidden {
  display: none;
}

/* line 23, ../sass/mixins.scss */
.g-is-shown {
  display: block;
}

/* line 30, ../sass/mixins.scss */
.col > .in.g-ex-rt {
  margin-right: 30px;
  margin-right: 1.875rem;
}
/* line 35, ../sass/mixins.scss */
.col > .in.g-ex-lt {
  margin-left: 30px;
  margin-left: 1.875rem;
}

/* line 42, ../sass/mixins.scss */
.g-rtl .col {
  float: right;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* line 50, ../sass/mixins.scss */
.g-1of1 {
  width: 100%;
}

/* line 51, ../sass/mixins.scss */
.g-1of2 {
  width: 50%;
}

/* line 52, ../sass/mixins.scss */
.g-1of3 {
  width: 33.33333%;
}

/* line 53, ../sass/mixins.scss */
.g-2of3 {
  width: 66.66666%;
}

/* line 54, ../sass/mixins.scss */
.g-1of4 {
  width: 25%;
}

/* line 55, ../sass/mixins.scss */
.g-3of4 {
  width: 75%;
}

/* line 56, ../sass/mixins.scss */
.g-1of5 {
  width: 20%;
}

/* line 57, ../sass/mixins.scss */
.g-2of5 {
  width: 40%;
}

/* line 58, ../sass/mixins.scss */
.g-3of5 {
  width: 60%;
}

/* line 59, ../sass/mixins.scss */
.g-4of5 {
  width: 80%;
}

/* line 60, ../sass/mixins.scss */
.g-1of6 {
  width: 16.66666%;
}

/* line 61, ../sass/mixins.scss */
.g-4of6 {
  width: 66.66666%;
}

/* line 62, ../sass/mixins.scss */
.g-5of6 {
  width: 83.33333%;
}

/* line 63, ../sass/mixins.scss */
.g-5of12 {
  width: 41.66666%;
}

/* line 64, ../sass/mixins.scss */
.g-7of12 {
  width: 58.33333%;
}

/* line 65, ../sass/mixins.scss */
.g-full-grid {
  width: 8.33333%;
}

/* line 68, ../sass/mixins.scss */
.lt-ie8 .g-last-col {
  float: right;
  margin-left: -1px;
}

/* line 74, ../sass/mixins.scss */
.g-rtl .g-last-col {
  _right: -3px;
  _margin-left: -3px;
  _margin-right: 0;
  _left: 0;
  float: left;
}

/* line 69, ../sass/modules/_grid.scss */
#grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  max-width: 1300px;
  z-index: 999;
}
/* line 77, ../sass/modules/_grid.scss */
#grid .col > .in {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  height: 1500px;
  display: block;
  position: relative;
  background: rgba(222, 0, 0, 0.15);
}
/* line 84, ../sass/modules/_grid.scss */
#grid .col > .in:before {
  content: '';
  height: 2000px;
  width: 2px;
  display: block;
  position: absolute;
  left: 0;
  border-left: 1px solid rgba(222, 0, 0, 0.2);
}
/* line 93, ../sass/modules/_grid.scss */
#grid .col > .in:after {
  content: '';
  height: 2000px;
  width: 3px;
  display: block;
  position: absolute;
  right: 0;
  border-right: 1px solid rgba(222, 0, 0, 0.2);
}
