$link_color: #3096dd;
$font-family: "Helvetica Neue", clean, sans-serif;
$base_font_color: #444;

body {
	background: #fff;
	font-size: 100%;
	font-family: $font-family;
	line-height: 1.2;
	color: $base_font_color;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 100%;
}
a {
	color: $link_color;
	text-decoration: none;
}
#content {
	.row {
		padding: 25px 0;
	}
	p, h2 {
		margin: 1rem 0;
	}
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 28px;
	}
}