!!!
html(lang="en")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Modules
		link(href='css/screen.css', media="screen, projection", rel="stylesheet", type="text/css")

	body
		include modules/mast
		include modules/nav
		
		#content
			section#hero
				.wrap
					h1.intro Big intro with big ideas for a big idea company and stuff man
		
			section#Solutions		
				.wrap
					h2 Solutions

					.container#tab0
						h3 Big Idea Team Product
						p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.
					.container#tab1
						h3 Big Idea for Media
						p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.
					.container#tab2
						h3 Big Idea Custom Solutions
						p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.

			section#Blog
				.wrap
					h2 Blog
					.col1-3
						.col-wrap
							h3	
								a(href='') The Corner Three
							p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.
					.col2-3
						.col-wrap 
							h3
								a(href='') "Always Will Be About Buckets"
							p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.
					.col3-3
						.col-wrap
							h3
								a(href='') The Scoring "Maturation" of Carmelo Anthony
							p Bacon ipsum dolor sit amet beef short loin pork belly pork loin. Swine doner tail, turkey shank fatback ribeye tenderloin drumstick pancetta. Frankfurter doner ground round ball tip tri-tip drumstick brisket andouille flank leberkas. Ground round short ribs meatball venison flank jowl, frankfurter salami bacon chuck cow shankle. Tongue corned beef ham hock meatloaf flank, venison capicola chuck beef ball tip short loin pork loin short ribs doner. Beef leberkas strip steak flank t-bone tongue pancetta prosciutto cow ham sausage ground round brisket venison. Ham hock tri-tip biltong short loin tenderloin meatloaf corned beef.

include modules/footer