nav(id="nav")
	.row
		.in
			ul
				li
					a(href="#", class="nav-link") Nav 1
				li
					a(href="#", class="nav-link") Nav 2
				li
					a(href="#", class="nav-link") Nav 3
				li
					a(href="#", class="nav-link") Nav 4
				li
					a(href="#", class="nav-link") Nav 5